%noscript
  .content
    .text
      We apologise for the inconvenience, but this page requires javascript
      turned on to function properly.

    .text
      Please turn on javascript and refresh the page.
